<h3>**BOOLEAN:** It returns either true or false value.<h3>

In [1]:
print(True,False)

True False

In [2]:
a=True
type(a)

bool

In [7]:
b='Priya'
print(b.isalpha())
print(b.startswith('P'))
print(b.endswith('a'))
print(b.isdigit())
print(b.isalnum())

True
True
True
False
True

In [8]:
True and True

True

In [9]:
True and False

False

In [10]:
False and False

False

In [11]:
False and True

False

In [12]:
True or True

True

In [13]:
False or True

True

In [14]:
True or False

True

In [15]:
False or False

False

In [18]:
a=5 
b=1
a>1 and b==1

True

In [21]:
c=a=0 or b==1
print(c)

True

<h3>**LIST: It is a data structure in python.It is mutable or changable.<h3>

In [22]:
lst=list()

In [23]:
type(lst)

list

In [24]:
lst=[1,2,3,4,5]

In [25]:
lst

[1, 2, 3, 4, 5]

In [26]:
sum(lst)

15

In [27]:
min(lst)

1

In [28]:
max(lst)

5

In [30]:
lst.append('priya')

In [31]:
lst

[1, 2, 3, 4, 5, 'priya']

In [32]:
lst.insert(0,'name')

In [33]:
lst

['name', 1, 2, 3, 4, 5, 'priya']

In [34]:
lst.pop()

'priya'

In [35]:
lst

['name', 1, 2, 3, 4, 5]

In [36]:
lst.pop(0)

'name'

In [37]:
lst

[1, 2, 3, 4, 5]

In [39]:
lst.append([6,7])

In [40]:
lst

[1, 2, 3, 4, 5, [6, 7]]

In [41]:
lst.extend((8,9))

In [42]:
lst

[1, 2, 3, 4, 5, [6, 7], 8, 9]

In [43]:
lst.extend([1,2,2,3])

In [44]:
lst

[1, 2, 3, 4, 5, [6, 7], 8, 9, 1, 2, 2, 3]

In [45]:
lst.count(1)

2

In [46]:
lst.count(2)

3

In [47]:
lst[5]

[6, 7]

In [48]:
lst[6]

8

In [49]:
lst[1:5]

[2, 3, 4, 5]

In [50]:
lst[:]

[1, 2, 3, 4, 5, [6, 7], 8, 9, 1, 2, 2, 3]

In [51]:
lst[3:-1]

[4, 5, [6, 7], 8, 9, 1, 2, 2]

In [52]:
lst[-4:-1]

[1, 2, 2]

In [55]:
lst[::-1]       #Reversing the list

[3, 2, 2, 1, 9, 8, [6, 7], 5, 4, 3, 2, 1]

In [57]:
lst.index(1)

0

In [58]:
lst

[1, 2, 3, 4, 5, [6, 7], 8, 9, 1, 2, 2, 3]

In [59]:
lst.index(1,2,-1)      #SEarch 1 after the 2-last item inlist

8

In [61]:
lst.index(0)     #Gives error when the element not in the list

ValueError: 0 is not in list

In [63]:
lst

[1, 2, 3, 4, 5, [6, 7], 8, 9, 1, 2, 2, 3]

<h3>**SET: Set is an unordered,mutable.It does not contain duplicate elements.It has the data structure of hash table<h3>

In [65]:
s=set()
type(s)

set

In [66]:
s={'flower','rose','lily'}

In [67]:
s

{'flower', 'lily', 'rose'}

In [68]:
#INDEXING 

s[0]

TypeError: 'set' object does not support indexing

In [69]:
s.add('lotus')

In [70]:
s

{'flower', 'lily', 'lotus', 'rose'}

In [71]:
s1={'lily','jasmine','rose'}

In [72]:
s1

{'jasmine', 'lily', 'rose'}

In [79]:
s1.intersection(s)

set()

In [73]:
s1.difference(s)

{'jasmine'}

In [74]:
s1        #DIFFERENCE

{'jasmine', 'lily', 'rose'}

In [77]:
s1.difference_update(s)

In [78]:
s1        #DIFFERENCE UPDATE

{'jasmine'}

<h3>**DICTIONARY: IT IS A KEY VALUE PAIR DATA STRCTURE .iT IS ITERABE AND MUTABLE<h3>

In [80]:
dic={'a':'abi','b':'bagu'}

In [81]:
type(dic)

dict

In [84]:
dic['b']

'bagu'

In [87]:
for x in dic:
    print(x)

a
b

In [88]:
for x in dic.values():
    print(x)

abi
bagu

In [89]:
for x in dic.items():
    print(x)

('a', 'abi')
('b', 'bagu')

In [90]:
dic['c']='kams'

In [91]:
dic

{'a': 'abi', 'b': 'bagu', 'c': 'kams'}

In [92]:
dic['b']='priya'

In [94]:
dic  #value is overwritten

{'a': 'abi', 'b': 'priya', 'c': 'kams'}

<h3>NESTED DICTIONARY        It is used to handle json data in Mongo DB etc,<h3>

In [103]:
car1={'benz':1990}
car2={'zen':1890,"price":10000}
car3={'indica':1980}

car={'model1':car1,'model2':car2,'model3':car3}

In [104]:
car

{'model1': {'benz': 1990},
 'model2': {'zen': 1890, 'price': 10000},
 'model3': {'indica': 1980}}

In [105]:
car['model2']

{'zen': 1890, 'price': 10000}

In [106]:
car['model2']['price']

10000

<h3>TUPLE  it is unchangable and it does not allow item assignment<h3>

In [107]:
tup=tuple()

In [108]:
type(tup)

tuple

In [109]:
tup=(1,2,'priya')

In [110]:
tup

(1, 2, 'priya')

In [111]:
tup.count(2)

1

In [112]:
tup.index('priya')

2