<h3>Functions:<h3>

In [1]:
def even_odd(n):
    if n%2==0:
        print('No is even')
    else:
        print('No is odd')

In [2]:
even_odd(56)

No is even

In [3]:
def add(a,b):
    return a+b

In [4]:
a=add(6,5)
print(a)

11

In [8]:
def add(a,b=10):           #(positional,keyword argument)
    return a+b

In [9]:
a=add(9,30)
print(a)

39

In [10]:
def hello(*a,**b):
    print(a)
    print(b)

In [11]:
hello(1,2,'priya','bibi')

(1, 2, 'priya', 'bibi')
{}

In [12]:
hello('priya',age=30,yr=3)

('priya',)
{'age': 30, 'yr': 3}

<h3> Lambda function:
    Function with no name.It works faster than functions. 
    <h3>

In [13]:
add=lambda a,b:a+b

In [14]:
add(4,5)

9

In [15]:
even=lambda a:a%2==0

In [16]:
even(10)

True

In [17]:
addition=lambda a,b,c:a+b+c

In [18]:
addition(2,3,4)

9

<h3> Map Function <h3>

In [23]:
def no(n):
    if n%2==0:
        return 'Even'
    else:
        return "Odd"

In [24]:
lst=[56,23,56,33,22,89]

In [27]:
list(map(no,lst))                #map(function,iterable)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

<h3> Filter function<h3>

In [28]:
def no(n):
    if n%2==0:
        return True
    else:
        return False

In [29]:
lst=[56,87,9,83,22,44]

In [31]:
list(filter(no,lst))           #It returns only the True values

[56, 22, 44]

In [33]:
list(filter((lambda x:x%2==0),lst))

[56, 22, 44]

In [34]:
list(map((lambda x:x%2==0),lst))

[True, False, False, False, True, True]

<h3> List comprehension: It provides a consise way to create list<h3>

In [35]:
lst=[3,5,2,6]

In [39]:
a=[i*i for i in lst if i%2!=0]

In [40]:
a

[9, 25]

<h3>String formatting <h3>

In [49]:
def greet(name):
    return "Hello {} to tuty".format(name)

In [50]:
greet('priya')

'Hello priya to tuty'

In [51]:
greet('Saravana')

'Hello Saravana to tuty'

In [56]:
def greet(name,year):
    return "Hello {} from {} year".format(name,year)

In [57]:
greet('Saravana','first')

'Hello Saravana from first year'

In [58]:
def greet(name,year):
    return "Hello {nam} from {yr} year".format(nam=name,yr=year)

In [59]:
greet('Saravana','first')

'Hello Saravana from first year'

<h3>List iterables vs iterators <h3>

In [85]:
ls=[2,46,3,6,3]
for i in ls:
    print(i)

2
46
3
6
3

In [86]:
l=iter(ls)

In [87]:
next(l)          #Each time it goes to the next element it saves one element thus it saves memory

2

In [88]:
for i in l:
    print(i)

46
3
6
3